.progress-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.overview-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 18%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.charts {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.chart-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.circular-stats {
    display: flex;
    justify-content: space-between;
    min-width: none;
}

.circle-card {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    width: 23%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

canvas {
    margin: 20px 0;
    width: 100% !important;
    height: 300px !important;
}
